*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: segoe UI;
}

html, body{
    height: 100%;
    width: 100%;
    
}


#main{
    height: 100%;
    width: 100%;
    background-color: white;

}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    padding: 0 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#nav h3{
    font-size: 15px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 15px;

}

#nav i{
    font-size: 15px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 15px;
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

}

#nav button{
    padding: 6px 12px;
    border: 1.5 solid black;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    

}

#btn-2{
    border: none;
    background-color: orangered;
    color: whitesmoke;

}

#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%; 
}

img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-40deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#smile{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}

#icons{
    display: flex;
    position: absolute;
    width: 5%;
    bottom: 5%;
    right: 7%;
    align-items: center;
    justify-content: space-between;
    
}

#para{
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-weight: 700;
}